.example-spacer {
    flex: 1 1 auto;
  }
.navbar {
    height: 60px;
    max-width: 100%;
    overflow-x: hidden;
    display: flex;
 }
 
 .function-icons {
    margin-left: 40px; 
    margin-right:75px;
    font-size: 20px; /* Set the font size to 14 pixels */
    padding: 6px 12px; 
}
