
<mat-toolbar color="primary" class="navbar">
    <a routerLink="/" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu_book</mat-icon>
    </a>
    <span>Easy Quiz</span>
    <span class="example-spacer"></span>
    <a  *ngIf="!isLoggedIn" routerLink="/login" mat-icon-button class="example-icon favorite-icon function-icons" aria-label="Example icon-button with heart icon">
        <mat-icon>login</mat-icon>
      Login
    </a>
    <a *ngIf="!isLoggedIn" routerLink="/signup" mat-icon-button class="example-icon favorite-icon function-icons" aria-label="Example icon-button with heart icon">
        <mat-icon>person_add</mat-icon>
      Register
    </a>

    <a *ngIf="isLoggedIn"  mat-icon-button class="example-icon favorite-icon function-icons" aria-label="Example icon-button with heart icon">
      <mat-icon>account_circle</mat-icon>
      {{ user.userName }}
    </a>

    <a (click)="logout()" *ngIf="isLoggedIn && user"  mat-icon-button class="example-icon favorite-icon function-icons" aria-label="Example icon-button with heart icon">
      <mat-icon>logout</mat-icon>
    Logout
  </a>

 
  </mat-toolbar>
  

