
<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row" style="margin-top: 20px;">
            <div class="col-md-6 offset-md-3">
                
                <mat-card class="custom-card">
                <div class="container text-center">
                    <img src="../../../assets/logo3.jpg" alt="Logo here" id="my-logo">
                </div>
                <h1 class="text-center">Register Here !!</h1>
                
                <form (ngSubmit)="formSubmit()">
                    <p>
                        <mat-form-field class="full-width" appearance="fill">
                          <mat-label>Username</mat-label>
                          <input required [(ngModel)]="user.userName" name="userName" matInput placeholder="Enter here">
                          <mat-hint>User Name must be unique</mat-hint>
                         </mat-form-field>
                    </p>
                    <p>
                        <mat-form-field class="full-width" appearance="fill">
                          <mat-label>Firstname</mat-label>
                          <input required [(ngModel)]="user.firstName" name="firstName" matInput placeholder="Enter here">
                         </mat-form-field>
                    </p>
                    <p>
                        <mat-form-field class="full-width" appearance="fill">
                          <mat-label>Lastname</mat-label>
                          <input required [(ngModel)]="user.lastName" name="lastName" matInput placeholder="Enter here">
                         </mat-form-field>
                    </p>
                    <p>
                        <mat-form-field class="full-width" appearance="fill">
                          <mat-label>E-mail</mat-label>
                          <input required [(ngModel)]="user.email" name="email" matInput placeholder="Enter here">
                         </mat-form-field>
                    </p>
                    <p>
                        <mat-form-field class="full-width" appearance="fill">
                          <mat-label>Phone</mat-label>
                          <input required [(ngModel)]="user.phone" name="phone" matInput placeholder="Enter here">
                         </mat-form-field>
                    </p>
                    <p>
                        <mat-form-field class="full-width" appearance="fill">
                          <mat-label>Password</mat-label>
                          <input required [(ngModel)]="user.password" name="password" matInput placeholder="Enter here" type="password">
                         </mat-form-field>
                    </p>
                    <div class="container text-center">
                        <button class="mr10" mat-raised-button color="primary">Submit</button>
                        <button class="ml20" mat-raised-button color="accent">Clear</button>
                    </div>
                </form> 
            </mat-card>
            </div>
        </div>
    </div>

</div>
