#my-logo {
    width: 200px; /* Set the width of the image */
    height: 150px; /* Maintain the aspect ratio by automatically adjusting the height */
    border-radius: 50%; /* Apply a border radius to create rounded corners */
    margin: 10px; /* Set margin around the image */
   
  }
  .full-width{
    width:100%;
  }
  .custom-card {
    background-color: #FFEBEE; /* Change this to the desired background color */
    color: #333; /* Change this to the desired text color */
    padding: 20px;
  }
  
  