<mat-card style="padding-left: 10px; background-color: #f06292; width: 180px">
  <mat-action-list>
    <div mat-sub-header style="font-size: 18px; color: aliceblue">Available Categories</div>
    
    <button mat-list-item routerLink="/user/0"><mat-icon>list</mat-icon> All Quizzes</button>

    <button [routerLink]="'/user/'+c.cid" mat-list-item *ngFor="let c of categories">
      <div class="word-wrap-container">
        <mat-icon>quiz</mat-icon> {{ c.title }}
      </div>
    </button>
  </mat-action-list>
</mat-card>
