<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row" style="margin-top: 20px;">
            <div class="col-md-6 offset-md-3">
                <mat-card class="custom-card">
               
                    <div class="container text-center">
                    <img src="../../../assets/logo3.jpg" alt="Logo here" id="my-logo">
                    </div>
               
                <h1 class="text-center">Login with your credentials</h1>
                
                <form (ngSubmit)="formSubmit()">
                    <p>
                        <mat-form-field class="full-width" appearance="fill">
                          <mat-label>Username</mat-label>
                          <input [(ngModel)]="loginData.userName" name="userName" required matInput placeholder="Enter here">
                          </mat-form-field>
                    </p>
                    <p>
                        <mat-form-field class="full-width" appearance="fill">
                          <mat-label>Password</mat-label>
                          <input [(ngModel)]="loginData.password" name="password" required matInput placeholder="Enter here" type="password">
                         </mat-form-field>
                    </p>
                    <div class="container text-center">
                        <button class="ml20" mat-raised-button color="primary" type="submit">Login</button>
                    </div>
               
                </form>
            </mat-card>
            </div>
        </div>
    </div>
</div>